nav#nav {
    background: #86B529;
    padding-left: 65px;
    padding-right: 120px;
}
nav a {
    color: #fff;
}
h1 {
    padding-top: 120px;
    font-size: 50px;
    margin-left: 90px;
}
.float-right {
    float: right;
}
h3 {
    margin-left: 13px;
	padding-top: 10px;
    margin-left: 93px;
}
div#btn-g {
    padding-top: 100px;
    padding-bottom: 30px;
}
div#header {
    background: #86B529;
}
div#github {
    padding: 20px 150px 20px 95px;
    background: #709625;
    color: #fff;
}
div#concept {
    padding: 20px 150px 20px 95px;
}
div#animation {
    padding: 20px 150px 20px 95px;
}
div#pre-footer {
    padding: 20px 150px 20px 95px;
    background: #709625;
    color: #fff;
}
div#footer {
    padding: 20px 150px 20px 95px;
    background: #39471C;
    color: #fff;
}
img#logosvg {
    padding-top: 80px;
    margin-right: 90px;
}
* { font-family: 'Raleway', Arial, serif; font-weight: 400; }