@import url(http://fonts.googleapis.com/css?family=Lato:300);

body, html {
    height: 100%;
    background: #F36E0E;
    color: #FFF;
    font-family: 'Lato', sans-serif;
}

header {
    padding-top: 25px;
}

header a {
    font-size: 15px;
    color: #F36E0E;
}

header li img {
    width: 45px;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

#footer-links a {
    font-size: 20px;
    padding-right: 15px;
    float: right;
}

#root {
    height: 600px;
    background: url(assets/img/bg.jpg) no-repeat fixed center top / cover transparent;
}

#root nav li a {
    font-weight: lighter;
    text-shadow: 2px 1px 9px rgba(255, 255, 255, 1);
}

#root nav li a:hover {
    color: #fff;
}

#body-l {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 300px;
    letter-spacing: 1.5px;
    height: 100%;
}

#body-l h1 {
    padding-top: 140px;
    font-size: 62px;
    line-height: 62px;
    margin-bottom: 25px;
}

#body-l button {

}

#body-l #downloadB {
    font-size: 15px;
}

#body-l h2 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 35px;
}

#glass {
    background: #303030;
    color: #fff;
}

#glass .container {
    padding-top: 2em;
    padding-bottom: 80px;
}

#glass h3 {
    font-size: 22px;
}

#main .container .row #main-first-first {
    padding: 3em;
}

#main .container .row #main-first-second {
    padding: 3em;
}

#caract {
    padding-top: 2em;
    padding-bottom: 2em;
    background: #fff;
    color: #000;
}

#concept {
    background: #303030;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 20px;
}

#concept h1 {
    font-size: 25px;
}

#concept img {
    width: 500px;
}

#footer {
    background: #303030;
}

#footer p {
    color: #FFF;
}

#headerr {
    background: #fff;
    color: #000;
}

#love {
    background: #fff;
    color: #303030;
}

#love p#title-love {
    font-size: 42px;
    line-height: 22px;
    padding-top: 80px;
}

#love p {
    font-size: 22px;
    line-height: 22px;
    padding-top: 25px;
    padding-bottom: 20px;
}

#love div#templates {
    padding-top: 45px;
    padding-bottom: 80px;
}

#love img {
    width: 150px;
    height: 150px;
}

#love a {
    color: #000;
}

#love div#templates p {
    font-size: 18px;
    text-align: justify;
}

#try #title-try {
    font-size: 52px;
    font-weight: bold;
    line-height: 22px;
    padding-top: 80px;
}

#try p {
    font-size: 22px;
    line-height: 22px;
    padding-top: 25px;
}

#try #buttons-try {
    padding-top: 25px;
    padding-bottom: 80px;
}

#main {
    background: #fff;
    height: 70%;
}

div#bricks-anim {
    padding-top: 5%;
}
h2#subtitle {
    padding-top: 10px;
}

div#iconsocial {
    color: #fff;
}

#one {
    margin-bottom: 3em;
}

#one img {
    width: 170px;
}

#one h3 {
    font-size: 20px;
}

#two {
    margin-bottom: 3em;
}

#two h3 {
    font-size: 20px;
}

#two img {
    width: 170px;
}

#three {
    margin-bottom: 3em;
}

#three h3 {
    font-size: 20px;
}

#three img {
    width: 170px;
}

#four img {
    width: 170px;
}

#four h3 {
    font-size: 20px;
}

#footer .container {
    padding: 2em;
}

#footer .container .row div p {
    float: right;
}

#love-icon {
    color: #FF0000;
}

@media (min-width: 1200px) {
    #caract .container {
        width: 970px;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 768px) {

}